<div class="aixm-feature-toggle">
    <mat-slide-toggle matTooltip="{{feature?.abbreviation}}"
                      [checked]="!featureService.isFeatureHidden(feature?.id)"
                      (change)="toggleChange($event)">
        <img class="aixm-icon" alt="{{ feature?.abbreviation }}" width="24" [src]="(feature?.icon ? feature?.icon :
            'assets/images/icons/AIXM/'+ feature?.abbreviation+'/'+feature?.abbreviation+'.svg')"
             (error)="handleErrorMissingFeatureImage($event)">
    </mat-slide-toggle>
</div>
