<div class="page-container">
    <div class="page-title">AIXM Features</div>
    <div class="page-subtitle">Management of AIXM Features and Objects</div>
    <div>
        <mtx-grid class="table-grid" [data]="features"
                  [columns]="defaultColumns"
                  [cellTemplate]="{icon: iconTpl, color: colorTpl}"
                  [showToolbar]="true"
                  [showColumnMenuButton]="false"

                  [toolbarTemplate]="toolbarTpl"
                  [pageOnFront]="false"
                  (page)="handlePageEvent($event)"
                  [length]="pageEvent.length"
                  [pageSize]="pageEvent.pageSize"
                  [showFirstLastButtons]="true"
                  [pageSizeOptions]= "pageSizeOptions"
                  [pageIndex]="pageEvent.pageIndex"
                  [loading]="loading">
        </mtx-grid>

        <ng-template #toolbarTpl>
            <button color="primary" mat-stroked-button class="tbr-btn" matTooltip="New" (click)="add()" ><mat-icon>add</mat-icon></button>
            <button color="primary" mat-stroked-button class="tbr-btn" matTooltip="Refresh" (click)="refresh()"><mat-icon>refresh</mat-icon></button>
            <input class="tbr-btn" placeholder="Search" type="search" [(ngModel)]="searchText" (search)="refresh()">
        </ng-template>
        <ng-template #colorTpl let-row let-index="index">
            <div style="border-radius: 5px; width: 3em; height: 3em"
                 [ngStyle]="{ backgroundColor: row.color ?  (row.color | hexToRgbA : 1) : 'white' }">
            </div>
        </ng-template>
        <ng-template #iconTpl let-row let-index="index">
            <app-aixm-icon [feature]="row"></app-aixm-icon>
        </ng-template>
    </div>
</div>
