<div style="display: flex; flex-flow: wrap; margin: 1em; justify-content: center">

    <mat-card class="home-card" [routerLink]="'browser'">
        <mat-card-header>
            <mat-icon mat-card-avatar style="width: 36px; height: 36px; font-size: 36px;">web</mat-icon>
            <mat-card-title>Browser</mat-card-title>
            <mat-card-subtitle>Dataset features browser</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card" [routerLink]="'datasets'">
        <mat-card-header>
            <mat-icon mat-card-avatar style="width: 36px; height: 36px; font-size: 36px;">storage</mat-icon>
            <mat-card-title>Datasets</mat-card-title>
            <mat-card-subtitle>AIXM datasets manager</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card" [routerLink]="'features'">
        <mat-card-header>
            <mat-icon mat-card-avatar style="width: 36px; height: 36px; font-size: 36px;">category</mat-icon>
            <mat-card-title>Features</mat-card-title>
            <mat-card-subtitle>AIXM features manager</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="home-card" [routerLink]="'map'">
        <mat-card-header>
            <mat-icon mat-card-avatar style="width: 36px; height: 36px; font-size: 36px;">map</mat-icon>
            <mat-card-title>Map</mat-card-title>
            <mat-card-subtitle>TDB...</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>

<div style="display: flex; flex-flow: wrap; margin: 1em; justify-content: center">

    <mat-card *ngIf="authService.User?.role==='admin'" class="home-card" [routerLink]="'users'">
        <mat-card-header>
            <mat-icon mat-card-avatar style="width: 36px; height: 36px; font-size: 36px;">people</mat-icon>
            <mat-card-title>Users</mat-card-title>
            <mat-card-subtitle>Administrate accounts</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

</div>
