app-dataset, app-feature, app-dataset-feature {
  padding: 0.1em;
}

.pg-bar {
  min-height: 0.3em;
  width: 100%;
}

.graph {
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
}
