<div class="page-container">
    <div class="page-title">Dataset Browser</div>
    <div class="page-subtitle">Browse dataset features and its properties</div>

    <div class="pg-bar">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-toolbar>
        <mat-toolbar-row style="padding: 0">
            <button color="primary" mat-stroked-button class="tbr-btn" matTooltip="New" (click)="addDataset()" ><mat-icon>add</mat-icon></button>
            <button color="primary" mat-stroked-button class="tbr-btn" matTooltip="Refresh" (click)="refresh()" ><mat-icon>refresh</mat-icon></button>
            <ng-container *ngIf="dataset">
                <button mat-button (click)="goDatasets()">
                    <mat-icon style="transform: rotate(-90deg)">turn_right</mat-icon>
                    <span>..</span>
                </button>
                <span>/</span>
                <button mat-button (click)="datasetClick(dataset)">
                    <mat-icon>storage</mat-icon>
                    <span>{{dataset?.name}}</span>
                </button>
            </ng-container>
            <ng-container *ngIf="feature">
                <span>/</span>
                <button mat-button (click)="featureClick(feature)">
                    <mat-icon>
                        <app-aixm-icon [feature]="feature" [width]="18"></app-aixm-icon>
                    </mat-icon>
                    <span>{{feature?.name}}</span>
                </button>
            </ng-container>
            <ng-container *ngIf="datasetFeature">
                <span>/</span>
                <button mat-button (click)="datasetFeatureClick(datasetFeature)">
                    <mat-icon>
                        <app-aixm-icon [feature]="datasetFeature.feature ? datasetFeature.feature : feature" [width]="18"></app-aixm-icon>
                    </mat-icon>
                    <span>{{datasetFeature.gmlIdValue}}</span>
                </button>
            </ng-container>
            <div style="display: flex; flex-grow: 1"></div>
            <mat-button-toggle-group [value]="viewLayout" (valueChange)="switchLayout($event)">
                <mat-button-toggle value="browser" matTooltip="Browser layout">
                    <mat-icon>web</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="graph" matTooltip="Graph layout">
                    <mat-icon>spoke</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="combined" matTooltip="Combined layout">
                    <mat-icon>vertical_split</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div style="width: 1em"></div>
            <mat-form-field style="width: 20%" appearance="outline" subscriptSizing="dynamic" >
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" placeholder="search here" [(ngModel)]="searchText" (search)="refresh()">
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>

    <div style="display: flex; flex-flow: row; width: 100%">
        <div class="browser-panel" style="overflow: scroll; overflow-x: hidden; margin-top: 0.3em" [ngStyle]="{
            width: viewLayout==='browser' ? '100%' : (viewLayout==='combined' ? '50%' : '0')}">
            <div *ngIf="!dataset" [ngStyle]="{display: viewLayout==='graph' ? 'none' : 'flex' }" style="flex-flow: wrap;">
                <app-dataset style="flex: 0.1;" *ngFor="let d of datasets" [dataset]="d" (cardClick)="datasetClick($event)"></app-dataset>
            </div>
            <div *ngIf="dataset && !feature" [ngStyle]="{display: viewLayout==='graph' ? 'none' : 'flex' }" style="flex-flow: wrap;">
                <app-feature style="flex: 0.7;" *ngFor="let f of dataset.featureLists" [featureList]="f" (cardClick)="featureClick($event)"></app-feature>
            </div>
            <div *ngIf="feature" [ngStyle]="{display: viewLayout==='graph' ? 'none' : 'flex' }" style="flex-flow: wrap;">
                <app-dataset-feature style="flex: 0.7;" *ngFor="let df of datasetFeatures"
                                     [feature]="df.feature"
                                     [datasetFeature]="df"
                                     (cardClick)="datasetFeatureClick($event)"
                ></app-dataset-feature>
            </div>
        </div>
        <div #graphContainer class="browser-panel" [ngStyle]="{
            width: viewLayout==='browser' ? '0' : (viewLayout==='combined' ? '50%' : '100%')}">
        </div>
    </div>

    <mat-paginator mat-paginator #paginator style="position: sticky; bottom: 1px; left: 1px; display: flex; width: 100%; z-index: 5000"
                   (page)="handlePageEvent($event)"
                   [length]="pageEvent.length"
                   [pageSize]="pageEvent.pageSize"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]= pageSizeOptions
                   [pageIndex]="pageEvent.pageIndex"
                   aria-label="Select page">
    </mat-paginator>

</div>
