app-dataset, app-feature, app-dataset-feature {
  padding: 0.1em;
}

.browser-panel {
  height: calc(100vh - 260px);
  height: -moz-calc(100vh - 260px);
  height: -webkit-calc(100vh - 260px);
}

.graph {
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
}
