<mat-card class="mat-card-feature" [ngStyle]="{
    cursor: (cardClick.observers.length > 0) ? 'pointer' : ''
    }" (click)="click()">
    <mat-card-header>
        <app-aixm-icon [feature]="feature" [matCardAvatar]="true"></app-aixm-icon>
        <mat-card-title>{{feature?.abbreviation}}</mat-card-title>
        <div class="flex-full-row"></div>
        <mat-chip color="primary">{{featureList?.count}}</mat-chip>
        <mat-card-subtitle>{{feature?.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{feature?.description | limitTo: 100}}
    </mat-card-content>
</mat-card>
