
<mat-drawer-container class="main-container">
    <mat-drawer style="width: 20em;"
                 [opened]="true"
                 [mode]="'side'">
        <div style="display: flex; flex-direction: column">
            <button style="margin: 0.3em" mat-stroked-button (click)="fileUpload.click()">
                <mat-icon>upload</mat-icon>
                <span>Upload AIXM XML file</span>
            </button>
            <input #fileUpload type="file" accept="text/xml" (change)="onFileSelected($event)" [multiple]="false" style="display:none;" />
            <section [ngSwitch]="uploadStatus">
                <mat-progress-bar *ngSwitchCase="'uploading'" mode="indeterminate"></mat-progress-bar>
                <button style="width: 100%" mat-button *ngSwitchCase="'success'" (click)="uploadStatus='initial'">✅ Successfully uploaded!</button>
                <button style="width: 100%" mat-button *ngSwitchCase="'fail'" (click)="uploadStatus='initial'">❌ Error upload file!</button>
            </section>
            <mat-divider></mat-divider>
            <mat-label style="padding: 1em">Available Datasets:</mat-label>
            <mat-expansion-panel *ngFor="let dataset of datasets" expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title matTooltip="{{ dataset.name.length > 25 ? dataset.name : '' }}">
                        {{ dataset.name | limitTo: 25 }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display: flex; flex-direction: column">
                    <button mat-stroked-button class="feature-button" *ngFor="let fl of dataset.featureLists"

                            matBadgeSize="medium"
                            [matBadge]="fl.count">
                        <mat-icon>linked_services</mat-icon>
                        <span matTooltip="{{ fl.feature.name.length > 20 ? fl.feature.name : '' }}">
                            {{ fl.feature.name | limitTo: 20 }}
                        </span>
                    </button>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div #treeContainer style="width: 100%;height: 100%">
        </div>
        <mat-paginator #paginator style="position: fixed; bottom: 1px; right: 1px; width: 100%"
                       (page)="handlePageEvent($event)"
                       [length]="pageEvent.length"
                       [pageSize]="pageEvent.pageSize"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]= pageSizeOptions
                       [pageIndex]="pageEvent.pageIndex"
                       aria-label="Select page">
        </mat-paginator>
    </mat-drawer-content>
</mat-drawer-container>
