<mat-drawer-container class="main-container">
    <mat-drawer #drawer style="min-width: 10em; max-width: 20em;"
                [opened]="false"
                [mode]="'over'">
        <mat-nav-list style="padding: 0px; min-width: 15em" (click)="drawer.close()">
            <a mat-list-item [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>house</mat-icon>
                  <span>Home</span>
                </span>
            </a>
            <mat-divider></mat-divider>
            <ng-container *ngIf="authService.User?.role === 'admin'">
                <a mat-list-item [routerLink]="'users'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>people</mat-icon>
                  <span>Users</span>
                </span>
                </a>
                <mat-divider></mat-divider>
            </ng-container>
            <a mat-list-item [routerLink]="'browser'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>web</mat-icon>
                  <span>Browser</span>
                </span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="'datasets'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>storage</mat-icon>
                  <span>Datasets</span>
                </span>
            </a>
            <a mat-list-item [routerLink]="'features'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>category</mat-icon>
                  <span>Features</span>
                </span>
            </a>
            <mat-divider></mat-divider>
            <ng-container *ngIf="authService.User?.role === 'admin'">
                <a mat-list-item [routerLink]="'map'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                    <span class="entry">
                      <mat-icon>map</mat-icon>
                      <span>Map</span>
                    </span>
                </a>
                <a mat-list-item [routerLink]="'vocal-input'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>keyboard_voice</mat-icon>
                  <span>Vocal Input</span>
                </span>
                </a>
                <mat-divider></mat-divider>
            </ng-container>
            <a mat-list-item [routerLink]="'about'" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">
                <span class="entry">
                  <mat-icon>info</mat-icon>
                  <span>About</span>
                </span>
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
        <label style="position: fixed; bottom: 1.5em; left: 0.5em; font-size: small">{{ title }}&nbsp;v{{ version }}</label>
    </mat-drawer>
    <mat-drawer-content style="overflow-y: hidden">
        <mat-toolbar color="primary" style="z-index: 5001">
            <mat-toolbar-row style="padding-left: 0.3em">
                <button mat-icon-button style="margin-right: 0.3em" matTooltip="Show menu" (click)="drawer.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <img alt="Eurocontrol logo" style="margin-top: 0.3em" width="36px" src="assets/images/icons/ectl_logo_short.svg">
                <mat-label>{{ title }}</mat-label>
                <span style="font-size: small">&nbsp;v{{ version }}</span>

                <app-theme-switcher style="margin-left: 1em" [themeOptions]="themeOptions$ | async" (themeChange)="themeChangeHandler($event)">
                </app-theme-switcher>

                <div class="flex-full-row"></div>
<!--<mat-icon svgIcon="ARF" color="accent"></mat-icon>-->
                <ng-container *ngIf="!authService.User">
                    <button mat-icon-button class="tbr-btn" matTooltip="Login" (click)="authService.showLogin()"><mat-icon>login</mat-icon></button>
                </ng-container>
                <ng-container *ngIf="authService.User">
                    <mat-icon style="cursor: pointer" matTooltip="My profile" (click)="profile()">person</mat-icon>
                    <span style="font-size: medium">{{authService.User.email}}</span>
                    <button  mat-icon-button class="main-tbr-btn" matTooltip="{{authService.getUserTitle()}} Logout" (click)="authService.logout()">
                        <mat-icon>logout</mat-icon></button>
                </ng-container>

            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
