.main-container {
  height: 100%;
  margin: 0px;
}

.entry {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}


.active-route {
  // background: mat.get-theme-color($current-theme, primary, default);
  background: var(--mat-badge-background-color);
  color: var(--mat-badge-text-color);
  mat-icon {
    color: white;
  }
  span {
    color: white;
  }
}

