@if (feature) {
  @if (matCardAvatar) {
<img mat-card-avatar alt="{{ feature.abbreviation }}" width="{{ width }}" [src]="(feature.icon ? feature.icon :
            'assets/images/icons/AIXM/'+ feature.abbreviation+'/'+feature.abbreviation+'.svg')"
      (error)="handleErrorMissingFeatureImage($event)">
  }
  @if (!matCardAvatar) {
<img alt="{{ feature.abbreviation }}" width="{{ width }}" [src]="(feature.icon ? feature.icon :
            'assets/images/icons/AIXM/'+ feature.abbreviation+'/'+feature.abbreviation+'.svg')"
      (error)="handleErrorMissingFeatureImage($event)">
  }
} @else {
  @if (matCardAvatar) {
    <img mat-card-avatar alt="{{ abbreviation }}" width="{{ width }}"
      [src]="'assets/images/icons/AIXM/'+ abbreviation+'/'+abbreviation+'.svg'"
      (error)="handleErrorMissingFeatureImage($event)">
  }
  @if (!matCardAvatar) {
    <img alt="{{ abbreviation }}" width="{{ width }}"
      [src]="'assets/images/icons/AIXM/'+ abbreviation+'/'+abbreviation+'.svg'"
      (error)="handleErrorMissingFeatureImage($event)">
  }
}





