.mat-mdc-card-avatar {
  border-radius: 20%;
}

/*.mat-mdc-button>.mat-icon {
  margin-left: 0;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 0.8rem;
  width: 0.8rem;
}*/
