<div class="page-container">
    <div class="page-title">About {{ getTitle() }}</div>
    <div class="page-subtitle"></div>

    <div style="margin-top: 1em">
        <div>Current project based on idea of Eduard POROSNICU and created by Sergiy VLASOV under the supervision of Eduard
            POROSNICU in Eurocontrol 2023-2024.</div>
        <div style="margin-top: 0.5em">See detailed information here:
            <a href="https://ext.eurocontrol.int/aixm_confluence/pages/viewpage.action?pageId=151388575" target="_blank">
                AIXM - Graph Viewer
            </a>
        </div>
    </div>
</div>
